
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="hotel-app">
        <div class="hotel-preloader-frame">
            <div class="hotel-preloader imgLoad">
                <img class="lozad" data-src="img/hotellogo.png" alt="logo" />
                <div class="hotel-preloader-progress">
                    <div class="hotel-preloader-bar"></div>
                </div>
                <div>
                    <span class="hotel-preloader-number" data-count="101">0</span>%
                </div>
            </div>
        </div>
        <section class="login">
            <div class="container">
                <div class="user signupBox">
                    <div class="formBox">
                        <form>
                            <h2>Hesab aç</h2>
                            <input type="text" placeholder="İstifadəçi Adınız">
                            <input type="text" placeholder="E-mail Adresiniz">
                            <input type="password" placeholder="Şifrə">
                            <input type="password" placeholder="Şifrə (təkrar)">
                            <input type="submit" value="Qeydiyyatdan keç">
                        </form>
                    </div>
                    <div class="imgBox"><img src="~/img/rooms/1.jpg" alt=""></div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/js/plugins/jquery.min.js"></script>
    <script src="~/js/plugins/lozad.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script>
        const observer = lozad();
        observer.observe();
    </script>
    <!-- bootstrap js -->
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <!-- nice select js -->

    <script src="~/js/plugins/jquery.nice-select.min.js"></script>
    <!-- datepicker js -->
    <script src="~/js/plugins/datepicker.js"></script>
    <!-- smooth scroll js -->
    <script src="~/js/plugins/smooth-scroll.js"></script>
    <!-- isotope js -->
    <script src="~/js/plugins/isotope.min.js"></script>
    <!-- mapbox js -->
    <script src="~/js/plugins/mapbox.min.js"></script>
    <!-- fancybox js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/lightgallery.min.js"></script>
    <script src="~/js/plugins/fancybox.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/plugins/swiper.min.js"></script>
    <!-- sticky js -->
    <script src="~/js/plugins/sticky.js"></script>
    <!-- kinsley js -->
    <script src="~/js/main.js"></script>
</body>
</html>
