
@{
    ViewData["Title"] = "Index";
}

<section class="hotel-banner-simple hotel-transition-bottom hotelmenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hotel-center hotel-title-frame">
                    <h1 class="hotel-mb-20 hotel-h1-inner">Otaqlar</h1>
                    <p class="hotel-mb-30">Laborum accusantium libero commodi. Voluptate consequatur itaque expedita accusamus impedit perspiciatis asperiores necessitatibus assumenda magnam ipsa.</p>
                    <ul class="hotel-breadcrumbs">
                        <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                        <li><span>Otaqlar</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>





